*{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.nf{
	clear: both;
}

header{
	background: #eee;
	width: 100%;
	height: 151px;
	box-shadow: 2px 0px 5px  rgba(0,0,0,0.3);

}
	#contentheader{
		width: 940px;
		margin: 0 auto;
	}


	#logo a{
		background: url(../images/logo.png) no-repeat;
		display: block;
		float: left;
		position: relative;
		top: 34px;
		width: 52px;
		height: 80px;
		overflow: hidden;
		text-indent:-9999px;
	}
nav{
	float: left;
	margin-top: 63px;
	margin-left: 90px;
	width: 790px;
}
	nav ul{
		list-style: none;
		width: 100%;
		font-family: Myriad Pro, sans-serif;
		font-size: 1em;
	}
		nav ul li{
			display: inline-block;
			vertical-align: center;
			font-weight: bold;
		}
			nav ul li a{
				color: #929292;
				text-decoration: none;
				margin-right: 105px;
			}
			nav ul li a:hover{
				color: #ed9521;
			}

#container{
	background: #fdfdfd;

}

#content{
	margin: 0 auto;
	width: 940px;
}
	#idea{
		float: left;
		margin-top: 60px;
		width: 359px;
		font-family: Myriad Pro, sans-serif;
		color: #585858;

	}
	hgroup h1{
		font-size:4em;
		font-weight: normal;
	}
	hgroup h2{
		font-size:2em;
		font-weight: normal;
	}
	#idea p{
		font-size:1.2em;
		font-weight: normal;
	}
	#idea a{
		background: url(../images/bg-btn.png) no-repeat 0 -62px;
		color: #fff;
		display: block;
		font-family: Myriad Pro, sans-serif;
		font-size: 1.6em;
		text-align: center;
		text-decoration: none;
		margin: 15px auto;
		line-height: 60px;
		height: 60px;
		width: 230px;
	}
	#idea a:hover{
		background: url(../images/bg-btn.png) no-repeat ;
	}
	small{
		margin-left: 70px;
	}
	#box{
		margin: 60px 0 0 90px;
		float: left;
		width: 368px;
	}

	#block2{
		margin-top: 165px;
		min-height: 515px;
	}
		#b1,#b2{
			float: left;
			width: 440px;
		}
		#b2{
			margin-top: 35px;
			margin-left: 20px;
		}
		#b1 p, #b2 p{
			line-height: 22px;
			margin-top: 30px;
			font-family: Myriad Pro, sans-serif;
			font-size: 1.2em;
		}

h2{
	color: #585858;
	font-size:2em;
	font-weight: normal;
	font-family: Myriad Pro, sans-serif;
}
h3{
	color: #585858;
	font-size:1.5em;
	font-weight: normal;
	font-family: Myriad Pro, sans-serif;
}
footer{
	background: #eee;
	border-top: 1px solid #dcdcdc;
}

	#contentfooter{
		margin: 0 auto;
		height: 125px;
		width: 940px;
	}
	#cr{
		float: left;
		padding-top: 25px;
	}
	#socialmedia{
		float: right;
		padding-top: 25px;

	}
	#socialmedia ul{
		list-style: none;
	}
	#socialmedia ul li{
		float: left;
		margin-right: 20px;
	}
	#socialmedia ul li a{
		display: block;
		width: 31px;
		height: 31px;

	}
	.fb{
		background: url(../images/icons.png) no-repeat 0px 0px;	
	}
	.gp{
		background: url(../images/icons.png) no-repeat 0px -40px;	
	}
	.tw{
		background: url(../images/icons.png) no-repeat 0px -80px;	
	}
	.tb{
		background: url(../images/icons.png) no-repeat 0px -120px;	
	}

	.fb:hover{
		background: url(../images/icons.png) no-repeat -40px 0px;	
	}
	.gp:hover{
		background: url(../images/icons.png) no-repeat -40px -40px;	
	}
	.tw:hover{
		background: url(../images/icons.png) no-repeat -40px -80px;	
	}
	.tb:hover{
		background: url(../images/icons.png) no-repeat -40px -120px;	
	}

/****FEATURES****/

h2,p,ul li{
	font-family: 'Myriad Pro';
	list-style: none;
}

#features{
	text-align: center;
	margin: 10px 0 0 15px;
}
#txtfeatures{
	text-align: left;
	width: 700px;
	float: right;
	padding-bottom:  25px;
}
#caracteristicas h2{color: #000;padding-bottom: 42px;}
#caracteristicas p{
	color:#585858;
}



#logos{
	float: left;
}
	#logos li:first-child{
		background: url(../images/recycle.png);
		height: 300px;
		width: 218px;
	}
		#logos li:last-child{
		background: url(../images/box-of-icons.png);
		height: 300px;
		width: 218px;
	}

#caracteristicas{
	float: left;
	margin-left: 58px;
	width: 516px;
}
	#caracteristicas li:first-child{margin-top: 0;}
	#caracteristicas li{
		margin-top: 62px;
	}
	#caracteristicas li:last-child{
		padding-bottom: 70px;
	}
/****NEWS****/
#updates{
	float: left;
	width: 620px;
}
#updates-post li{
	margin-bottom: 80px;
	border-top: 1px solid #d5d5d5;
	width: 561px;
	padding-top: 15px;
}
	#updates-post li p{
		margin-top: 30px;
		margin-left: 92px;
		line-height: 20px;
	}
	#updates-post li h2{
		vertical-align: bottom;
	}

#aside-popular-post h3{
	margin-top: 25px;
	margin-bottom: 25px;
}
#aside-popular-post p{
	padding-bottom: 45px;
}

.fechas{
	float: left;
	margin: 50px 40px 0 0;
	height: 65px;
	border: 1px solid #ccc;
	padding:5px;
}
.fechas span{
	font-size: 40px;
}
	.fechas>blockquote{
		text-align: center;
	}

.readmore{
	background-color: #727272;
	text-decoration: none;
	color: #fff;
	padding: 5px 5px;
	position: relative;
	left: 471px;
	top: 14px;
}
.readmore:hover{
	color: #000;
	background-color: #f99600;
}
/****NEWS POST****/
article{
	height: 600px;
	color:#585858;
}
article p{
	margin-bottom: 30px;
}
#fecha{
	padding-bottom: 30px;
}
#btnback{
	background-color: #f99600;
	padding: 6px 5px; 
	text-decoration: none;
	color: #000;
	font-family: "Myriad Pro";
	position:relative;
	left: 690px;
}
/****ABOUT****/
#h2about{
	border-bottom: 1px solid #ccc;
}
.post-about h3{
	margin-top: 20px;
	margin-bottom: 20px;
}
.post-about p{
	margin-bottom: 55px;
}

/****CONTACT****/

form{
	vertical-align: top;
	display: inline-block;
	width: 400px;
}
	form input{
		margin-bottom: 8px;
		height: 35px;
		width: 100%;
	}
	form textarea{
		margin-bottom: 8px;
		height: 175px;
		width: 100%;
	}
	form input[type="submit"]{
		color: #fff;
		cursor: pointer;
		background: #818181;
		border:0;
		width: 4em;
	}
#h2contact{
	border-bottom: 1px solid #ccc;
	margin-bottom: 25px;
}
#txt-contact{
	vertical-align: top;
	display: inline-block;
	width: 398px;
}